/*
1. Posicionamiento
2. Modelo de Caja (Box Model)
3. Tipografia
4. Visuales
5. Otros ()
*/
:root{
    /* Colores */
    --linear-bg:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bitcon-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;

    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
    header img{
        width: 15rem;
        height: 2.4rem;
        margin-top: 6rem;

        /*asi centramos un elemento que tenga contenedor con display flex*/
        align-self: center;
    }
    .header--title-container{
        width: 90%;
        /*el width sera de 90% solo entre 280 y 900*/
        min-width: 288px;
        max-width: 900px;
        height: 218px;
        margin-top: 40px;
        text-align: center;
        align-self: center;
        color: var(--just-white);
    }
        .header--title-container h1{
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.6rem;
        }
        .header--title-container p{
            margin-top: 25px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: var(--soft-orange);
        }
        .header--button{
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);

            display: block;

            /* margin-top: 35px; */
            padding: 15px;

            width: 229px;
            height: 48px;
            background-color: var(--off-white);
            /* Sombra */
            box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
            border: none;
            border-radius: 5px;
            font-size: 1.4rem;
            font-weight: bold;
            text-decoration: none;
            color: var(--black);
        }
            .header--button span{
                display: inline-block;
                width: 13px;
                height: 8px;
                margin-left: 10px;
                background-image: url('../assets/icons/down-arrow.svg');
            }

main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}
    .main-exchange-container{
        width: 100%;
        height: auto;
        padding-top: 80px;
        padding-bottom: 30px;
        text-align: center;
    }
        .main-exchange-container .backgroundImg{
            width: 200px;
            height: 200px;
            margin: 0 auto;
            margin-bottom: 50px;
            background-image: url('../assets/imgs/bitcoin.svg');
            /* Buanas practicas para imagenes de fondo */

            /* Escala la imagen al mayor tamño posible sin estirarla */
            background-size: cover;
            /* Siempre estara al centro sin importar el tamaño del container */
            background-position: center;
            /* No intentara llenar el contenedor repitiendo la imagen */
            background-repeat: no-repeat;
        }
        .main-exchange-container--title{
            width: 90%;
            min-width: 300px;
            max-width: 900px;
            margin: 0 auto;
        }
            .main-exchange-container--title h2{
                margin-bottom: 30px;
                font-size: 2.4rem;
                font-weight: bold;
                line-height: 2.6rem;
                color: var(--black);
            }
            .main-exchange-container--title p{
                margin-bottom: 30px;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.8rem;
                color: #757575;
            }

            .table-slider{
                max-width: 800px;
                margin: 0 auto;
            }

            .main-currency-table,
            .main-commission-table{
                width: 70%;
                min-width: 235px;
                max-width: 500px;
                height: 360px;
                margin: 0 auto;
                font-family: "Inter", sans-serif;
            }
            .main-commission-table .commission-table--title,
            .main-currency-table .currency-table--title{
                margin-bottom: 15px;
                font-size: 1.8rem;
                font-weight: bold;
                line-height: 2.3rem;
            }
            .main-currency-table .currency-table--title{
                color: var(--bitcon-orange);
            }
            .main-commission-table .commission-table--title{
                color: var(--secondary-blue);
            }

            .commission-table--container,
            .currency-table--container{
                width: 90%;
                min-width: 230px;
                max-width: 300px;
                height: 250px;
                margin: 0 auto;
            }

            .commission-table--container table,
            .currency-table--container table{
                width: 100%;
                height: 100%;
            }
                .commission-table--container td,
                .currency-table--container td{
                    width: 50%;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 1.9rem;
                    color: var(--grey);
                    background-color: var(--just-white);
                    text-align: start;
                    padding-left: 2rem;
                }
                .commission-table--container .table__top-left,
                .currency-table--container .table__top-left{
                    border-radius: 15px 0 0 0;
                }
                .commission-table--container .table__top-right,
                .currency-table--container .table__top-right{
                    border-radius: 0 15px 0 0;
                }
                .commission-table--container .table__bottom-right,
                .currency-table--container .table__bottom-right{
                    border-radius: 0 0 15px 0;
                }
                .commission-table--container .table__bottom-left,
                .currency-table--container .table__bottom-left{
                    border-radius: 0 0 0 15px;
                }
                .commission-table--container .table__right,
                .currency-table--container .table__right{
                    font-size: 1.4rem;
                    font-weight: normal;
                    line-height: 1.7rem;
                    color: #757575;
                }
                    .currency-table--container .down{
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        margin-left: 20px;
                        background-image: url('../assets/icons/trending-down.svg');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .currency-table--container .up{
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        margin-left: 20px;
                        background-image: url('../assets/icons/trending-up.svg');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

            .commission-table-date,
            .currency-table-date{
                width: 190px;
                height: 30px;
                margin: 15px auto 0;
                padding: 8px;
                border-radius: 8px;
            }
            .currency-table-date{
                background-color: var(--soft-orange);
            }
            .commission-table-date{
                background-color: var(--secondary-blue);
            }
            .commission-table-date p,
            .currency-table-date p{
                font-size: 1.2rem;
                font-weight: 300;
                line-height: 1.5rem;
                color: var(--warm-black);
            }

        .main-product-detail{
            position: relative;
            width: 100%;
            /* este pixelaje es el ancho minimo de display que hay en un smathphone */
            min-width: 320px;
            /* max-width: 900px; */
            height: auto; /* Con auto la altura dependera de el contenido que hay. */
            padding: 20px 10px;
            background-color: var(--warm-black);
        }
            .product-detail--batata-logo{
                position: absolute;
                width: 40px;
                height: 25px;
                background-image: url('../assets/icons/batata.svg');
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .product-detail--title{
                width: 90%;
                min-width: 288px;
                height: auto;
                margin: 0 auto;
                margin-top: 50px;
                text-align: center;
            }
                .product-detail--title h2{
                    margin-bottom: 20px;
                    font-size: 2.4rem;
                    font-weight: bold;
                    line-height: 2.6rem;
                    color: var(--just-white);
                }
                .product-detail--title p{
                    margin-bottom: 20px;
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 1.8rem;
                    color: #808080;
                }
            .product-detail--card{
                width: 90%;
                min-width: 288px;
                max-width: 400px;
                min-height: 150px;

                margin: 0 auto;
                margin-bottom: 16px;
                padding: 16px 16px 22px 16px;

                background-color: var(--black);
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
                border-radius: 4px;
            }
                .product-detail--card .clock{ /* Tarjeta #1 */
                    background-image: url(../assets/icons/clock.svg);
                }
                .product-detail--card .eye{ /* Tarjeta #2 */
                    background-image: url(../assets/icons/eye.svg);
                }
                .product-detail--card .money-sing{ /* Tarjeta #3 */
                    background-image: url(../assets/icons/dollar-sign.svg);;
                }
                .product-detail--card .check-circle{ /* Tarjeta #4 */
                    background-image: url(../assets/icons/check-circle.svg);
                }
                .product-detail--icon{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-bottom: 10px;

                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                
                .product--card-title{
                    margin-bottom: 15px;
                    font-size: 1.8rem;
                    font-weight: bold;
                    line-height: 1.8rem;
                    color: var(--just-white);
                }
                .product--card-body{
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 1.8rem;
                    color: #808080;
                }
    .bitcoin-img-container{
        width: 100%;
        min-width: 320px;
        height: 50vh;
        background-image: url('../assets/imgs/bitcoinbaby-2x.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
        .bitcoin-img-container h2{
            padding-top: 60px;
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.6rem;
            text-align: center;
            color: var(--just-white);    
        }
    
    .main-plans-container{
        position: relative;
        width: 100%;
        min-width: 320px;
        padding-bottom: 70px;
        text-align: center;
    }
        .plans--title{
            width: 90%;
            min-width: 300px;
            height: auto;
            margin: 0 auto;
            margin-bottom: 50px;
        }
        .plans--title h2{
            padding-top: 50px;
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.6rem;
            color: var(--black);
        }
        .plans--title p{
            padding-top: 30px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: #757575;
        }
        .plans-container--slider{ /* Scroll horizontal */
            position: relative;
            display: flex;
            align-items: center;

            height: 316px;
            overflow-x: scroll;
            overscroll-behavior-x: contain;
            scroll-snap-type: x proximity;
        }
        
        .plans-contrainer--card{
            position: relative;

            scroll-snap-align: center;

            width: 60%;
            min-width: 200px;
            max-width: 300px;
            height: 250px;
            margin: 0 5px;
            padding: 0 15px;
            padding-top: 35px;

            background-color: var(--just-white);
            border-radius: 15px;
            box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
        }
        .recommended{
            position: absolute;
            width: 120px;
            height: 31px;
            
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            
            font-size: 1.2rem;
            font-weight: bold;
            line-height: 1.5rem;
            
            background-color: var(--bitcon-orange);
            border-radius: 8px;
            color: var(--just-white);
            
            padding: 7px;
        }

        .plan-info-container{
            width: 100%;
            height: 90%;
        }
            .plan-car--title{
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 1.8rem;
                color: var(--black);
            }
            .plan-car--price{
                position: relative;

                padding: 5px 0;
                font-size: 5.2rem;
                font-weight: bold;
                line-height: 6.3rem;
                margin-top: .5rem;
                color: var(--black);
            }
            .plan-car--price span{
                position: absolute;

                top: 0;
                transform: translate(-100%,90%);

                font-size: 1.2rem;
                font-weight: 300;
                line-height: 1.5rem;
            }
            .plan-car--savin{
                margin-top: 1rem;

                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.5rem;
                height: 32px;

                color: #757575;
            }
            .plan-card--ca{
                position: relative;
                width: 80%;
                height: 50px;
                margin-top: 1rem;
                padding: .5rem;
                padding-right: 30px;

                font-size: 1.4rem;
                line-height: 1.8rem;
                font-weight: bold;
                color: var(--black);

                border: 2px solid var(--bitcon-orange);
                border-radius: 4px;
                background-color: #FAF8F7;
            }
            .plan-card--ca:hover{
                box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
            }
            .plan-card--ca span{
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(-35%, -50%);

                width: 25px;
                height: 25px;
                
                background-image: url('../assets/icons/arrow-right.svg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

    footer{
        display: flex;
        align-items: center;
        justify-content: space-around;

        padding: 20px 10px;
        width: 100%;
        min-width: 320px;
        height: auto;
        background-color: var(--bitcon-orange);
    }
    .footer-links--container{
        width: 50%;
        list-style: none;
        padding: 2rem;
        text-align: center;
    }
    .footer-links--container li a{
        text-decoration: none;

        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.8rem;
        color: var(--just-white);
    }
    .footer-links--container li:hover{
        text-decoration: underline;
    }
    .footer-img{
        width: 80px;
        height: 66px;
    }